<% if @entity.movements.length > 0 %>
  <table border=1>
    <thead>
      <tr>
        <td>Transaction Date</td>
        <td>Description</td>
        <td>Debit Amount</td>
        <td>Credit Amount</td>
        <td>Account Name</td>
      </tr>
    </thead>
    <% @entity.movements.each do |m| %>
    <tr>
      <td><%= link_to m.created_at, m %></td>
      <td><%= m.description %></td>
      <% if m.amount > 0 %>
      <td></td><td><%= number_to_currency(m.amount) %></td>
      <% else %>
      <td><%= number_to_currency(m.amount) %></td><td></td>
      <% end %>
      <td><%= Account.find(m.account_id).name %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <i>No transactions</i>
<% end %>
