<p id="notice"><%= notice %></p>

<%
biggest_debit = @entity.biggest_debit
biggest_debit_month = @entity.biggest_debit_in_current_month
number_of_transactions = @entity.movements.count
number_of_transactions_last_month = @entity.movements_count_prior_month
balance = @entity.accounts_balance
biggest_debitor = @entity.biggest_debitor
amount_spent_prior_month = @entity.amount_spent_prior_month
amount_spent_current_month = @entity.amount_spent_current_month
%>


<div class="main">
  <p>
    <strong>Customer Name:</strong> <%= @entity.name %><br/>
    <%= link_to 'Edit', edit_entity_path(@entity) %> | <%= link_to 'Back', entities_path %>
  </p>
  <div class="row">
    <div class="column">
    <p>
      <strong>Account Summary</strong>
      <% if balance < 0 %>
      <p class="blink_text" style="color: red">Your balance is below zero! 💸 💸</p>
      <% end %>
      <table border=1>
        <tr>
          <td>Customer Balance</td>
          <td><%= number_to_currency(balance) %></td>
        </tr>
        <tr>
          <td>Number of Transactions (Current Month)</td>
          <td><%= number_of_transactions %></td>
        </tr>
        <tr>
          <td>Number of Transactions (Last Month)</td>
          <td><%= number_of_transactions_last_month %></td>
        </tr>
        <tr>
          <td>Amount spent (Current Month)</td>
          <td><%= number_to_currency(amount_spent_current_month) %></td>
        </tr>
        <tr>
          <td>Amount spent (Last Month)</td>
          <td><%= number_to_currency(amount_spent_prior_month) %></td>
        </tr>

        <tr>
          <td>Largest expense (All time)</td>
          <td>
            <% if biggest_debit %>
              <%= number_to_currency(biggest_debit.amount.abs) %> to <%= biggest_debit.other_party %>
            <% else %>
              <i>No debits</i>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>Largest expense (Current Month)</td>
          <td>
            <% if biggest_debit_month %>
              <%= number_to_currency(biggest_debit_month.amount.abs) %> to <%= biggest_debit_month.other_party %>
            <% else %>
              <i>No debits</i>
            <% end %>
          </td>
        </tr>

        <% if biggest_debitor[:amount] %>
        <tr>
          <td>Largest Debitor (All Time)</td>
          <td>
            You've spent <%= number_to_currency(biggest_debitor[:amount].abs) %> at <%= biggest_debitor[:other_party] %>
          </td>
        </tr>
        <% end %>

      </table>
    </p>

    <hr>

    <p><strong><%= link_to 'Accounts', accounts_path %></strong> <small><%= link_to 'Open a new account', new_account_path %></small></p>
    <p><%= render partial: 'accounts/list' %></p>

    <hr>

    <p><strong><%= link_to 'Transactions', movements_path %></strong> <small><%= link_to 'Create a new transaction', new_movement_path %></small></p>

    <p><%= render partial: 'movements/list' %></p>

    </div>
  </div>
  <div class="column">





  </div>
</div>


