<p id="notice"><%= notice %></p>

<p>
  <strong>Account Name:</strong>
  <p><%= @account.name %></p>
  <p>Belongs to: <%= Entity.find(@account.entity_id).name %></p>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
